

<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href=""><em>Sample App for Trace file analysis</em></a> is a
  <a href="">tool</a> and
  <a href="">the developer</a>
  is trying to learn
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  This is the sample application for the same.
</p>


